# Project Environment variables for the shell go here
# Project Environment variable defaults for node/js go in .dotenv
# JENKINS DOES NOT SOURCE THIS FILE!
export ARTIFACTORY_URL='https://artifactory.camp-prod.aws.hosting.transport.nsw.gov.au/artifactory'
export yarn_registry=${ARTIFACTORY_URL}/api/npm/npm-cdp
export NODE_OPTIONS="--max_old_space_size=8192  --require dotenv-with-expand/config"
# Gulp transpile only = faster
export TS_NODE_TRANSPILE_ONLY="true"
export TS_NODE_FILES=true